@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h1>Issue Tracking</h1>
        @Html.ActionLink("Projects", "Index", "Projects", new { }, new { @class = "btn btn-primary" })
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            This Bug tracking software is good for sharring projects and logging issues accross a team.
            It is a  useful project management tool to ensure that all issues arebeing handled in a timely manner.
        </p>
    </div>
    <div class="col-md-8">
        <h2>Author</h2>
        <p>Kevin Smeeks is a graduating senior at Kentucky State University. He is passionate about 
        learning new skills in software development.</p>
        <p><a class="btn btn-default" href="http://kevin-smeeks.com">More about Kevin &raquo;</a></p>
    </div>
</div>