@model BugTracker.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


    @Html.Partial("_ProjectFormPartial")

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
